/.idea/
/.gradle/
/build/
/StarMade Launcher.jar
launch-settings.json
/jre8/
/jre18/
/StarMade/
version.txt
MANIFEST.MF
/jre8.zip
/jre18.zip
.idea/workspace.xml
StarMade Launcher.exe
launcher-test/3.0.0/starmade-launcher.exe
StarMade Launcher.xml
/launcher-test/
starmade-launcher.jar
